.section {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid rgba(165, 15, 48, 0.705);
    margin: 5px 5px;
}

.section__subHeader2 {
    text-align: center;
    color: #d7498fd7;
}

.section__table {
    border-collapse: collapse;
    width: 100%;
}

.section__tableCell {
    border: 2px solid purple;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    color: rgba(19, 18, 20, 0.432);
    background: #eceff1;
}

.section__tableCell--header {
    background-color: rgb(133, 119, 212);
    font-weight: bolder;
    color: rgba(240, 233, 233, 0.993);
}

.section__tableRow:nth-child(even) {
    background-color: #eee;
}

.section__tableRow:hover {
    background-color: #ddd;
}

.section__container {
    overflow-x: auto;
}

.section__caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
}

