.header1{
    color:#d7498fd7
}

.buttonHide{
    float:right;
    background: bisque;
    border-color: black;
    border-radius: 20%;
}

.buttonShow {
    float: left;
    background-color: rgba(216, 203, 203, 0.781);
    border-color: black;
    border-radius: 20%;
}
.textShow {
    background-color: rgba(216, 203, 203, 0.781);
    border-color: black;
}

.sun {
width: 20%;
    height:20%;
background-color: rgba(173, 194, 194, 0.712);
border-radius: 10%;
}

.todo {
    color: rgba(19, 18, 20, 0.432);
    background: bisque;
}

.subHeader2{
    color:#d7498fd7
}