html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header1 {
    color: #d7498fd7;
}

.buttonRemove {
    float: right;
    background: bisque;
    border-color: black;
}

.buttonClone {
    float: left;
    background: bisque;
    border-color: black;
}

.myImage {
    border-radius: 50%;
}

.imageStyle {
    width: 50%;
    border-radius: 50%;
}

.todo {
    color: rgba(19, 18, 20, 0.432);
    background: #eceff1;
}

.newcolor {
    background: #fbfbfb;
}

.subHeader2 {
    color: #d7498fd7;
}

.subHeader3 {
    text-align: center;
}

.bodyElement {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5%;
}

.table {  
    border-collapse: collapse;
    /* border-radius: 50px; */
    width: 100%;
    /* border: 3px solid rgb(235, 19, 19); */
}

.tableCell {
    border: 2px solid purple;
    /* border-radius: 0px 20px 20px 0px; */
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.tableHeader {
    background-color: rgb(133, 119, 212);
    font-weight: bolder;
    color: rgba(240, 233, 233, 0.993);
}

.caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    color: black;
}

.tableRow:nth-child(even) {
    background-color: #eee;
}

.tableRow:hover {
    background-color: #ddd;
}

.container {
    overflow-x: auto;
}

.footer {
    text-align: center;
}

.listItem {
    margin: 10px 0;
    outline: n;
}

.list {
    padding-left: 11px;
}

.unorderedList {
    list-style-type: "😎";
}

.section {
    width: 100%;
    font-size: 18px;
    padding: 10px 0;
    border: 2px solid rgba(165, 15, 48, 0.705);
    margin: 5px auto 5px;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: rgba(165, 15, 48, 0.705);
}

.link:focus {
    outline: 2px solid currentColor;
}

.link:hover {
    color:black;
    border-bottom: 1px solid;
    outline: none;
}

.myFont {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.buttonStyle {
    /* border-radius: 5%; */
    border-color: rgb(134, 17, 41);
    background-color: rgb(187, 25, 58);
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-weight: bold;
}